@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');


@import '/src/styles/lottery/history.scss';

@import '/src/styles/lottery/BuyTickets.scss';


.details{
               text-decoration: none;
               color: var(--blue);
               font-style: bold;
               border: 0px;
               margin: 20px;
               Font-weight: 600;
               font-size: medium ;
               background-color: var(--colors-backgroundAlt);
               align-self: center;
            }
.details:hover{
  opacity: 0.65;
}

.buttom{
   background-color: var(--blue);
   width: 145px;
   height: 45px;
   border-radius: 15px;
   border: 0px;
   border-bottom: 1px solid var(--darkgrey);
   color: var(--white);
   font-size: 15px;
   margin-top: 15px;
}
.buttom:hover{
  background-color: #94e1f2;
}

#div1{
    background: var(--purple);
    background-image:linear-gradient(var(--purple), var(--purple2));
    background-size: 250%;
    background-position: center 0px;
    display: grid;
    width: 100vw;
    grid-template-columns: auto 400px auto;
    grid-template-rows: 120px 120px 100px 200px;
    padding-bottom: 30px;
}

   #div1price{
      width: 350px;
   }

  #buyticketsbuttom{
    display: flex;
    justify-content: center;
}
         #backticket{
        width: 300px;
        height: 120px;
        z-index: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        position: relative;
        animation-name: ticket;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
         }
         @keyframes ticket{
        0%{rotate: 5deg}
        50%{rotate: -5deg}
        100%{rotate:5deg}
        }
       #buyticketsbuttom1{
        width: 240px;
        height: 50px;
        background: linear-gradient(var(--purple), var(--dark-text));
        color:white;
        font-size: large;
        font-style: bold;
        border-radius: 17px;
        border: 0px;
        z-index: 2;
        position: absolute;
        margin: 30px;
        animation-name: ticket;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
         }
         #buyticketsbuttom1:hover{
          opacity: 0.5;
        }
         @keyframes ticket{
        0%{rotate: 5deg}
        50%{rotate: -5deg}
        100%{rotate:5deg}
        }
        
         #div1h11{
            font-size: 120%;
            color: white;
            text-align: center;
            margin-top: 80px;
    } 
           #div1 p{
            font-size: 400%;
            color:var(--yellow);
            display: flex;
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 30px;
            font-weight: 700;
    }
         #div1h12{
            font-size: 120%;
            margin: 30px;
            color: white;
            text-align: center;
    }


    #images11{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    

         #bigstar{
           height:120px;
           width:120px;
           position: absolute;
           left: 60%;
           top: 60%;
           animation-name: bigstar;
           animation-duration: 3s;
           animation-delay: 0.25s;
           animation-iteration-count: infinite;
         }
           @keyframes bigstar{
            0% {
              transform: translate(0px, 0px);
          }
          50% {
              transform: translate(10px, 10px);
          }
          100% {
              transform: translate(0px, 0px);
          }
          }
         
         #smallstar{
            height: 80px;
            width:80px;
            position: absolute;
            left: 73%;
            top: 37%;
            animation-name: smallstar;
            animation-duration: 3.5s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;
          }
            @keyframes smallstar{
              0% {
              transform: translate(0px, 0px);
          }
          50% {
              transform: translate(10px, 10px);
          }
          100% {
              transform: translate(0px, 0px);
          }
           }
         
         #ticketl{
          height: 100px;
          width: 100px;
          position: absolute;
          left: 75%;
          top: 100%;
          animation-name: ticketl;
          animation-duration: 7s;
          animation-delay: 0s;
          animation-iteration-count: infinite;

          }
            @keyframes ticketl{
              0% {transform: translate(0px, 0px);}
            50% {transform: translate(-10px, 15px);}
            100% {transform: translate(0px, 0px);}
           }


       #images12{
        position: relative;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

         #threestars{
            height: 150px;
            width:150px;
            position: absolute;
            right: 65%;
            top: 37%;
            animation-name: threestars;
            animation-duration: 4s;
            animation-delay: 0.75s;
            animation-iteration-count: infinite;
          }
            @keyframes threestars{
              0% {transform: translate(0px, 0px);}
          50% {transform: translate(-10px, 10px);}
          100% {transform: translate(0px, 0px);}
         }
         #ticketr{
            height: 100px;
            width:100px;
            position: absolute;
            right: 75%;
            top: 100%;
            animation-name: ticketr;
            animation-duration: 7s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
          }
            @keyframes ticketr{
              0% {transform: translate(0px, 0px); }
            50% {transform: translate(10px, 15px);}
            100% {transform: translate(0px, 0px);}
           }
         


    @media screen and (max-width: 573px){
      #images11, #images12{
         display: none;
      }
      #div1{
         display: flex;
         justify-content: center;
         align-content: center;
      }
      #divh11, #div1h12, #div1 p{
         align-self: center;
      }
    }
    @media screen and (max-width: 850px){
    #threestars{
    right: 2%;
    top: 24%;
    }
    #smallstart{
      left: 9%;
      top: 23%;
    }
  #bigstar{
    left: 10%;
  }
  #ticketl{
    left: 11%;
  }
  #ticketr{
    right: 11%;
  }}

    #div2{
      background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
      color: var(--white);
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
   }
      #div2header{
         margin-top: 70px;
         font-size:25px;
      }
        #div2linetime{
         display: flex;
         flex-direction: row;
         font-size: 20px;
         padding: 30px;
        }
          #div2time{
            display: flex;
            flex-direction: row;
            color: var(--yellow);
          }
             #div2time h2{
              padding-right: 5px;
             }
      #center{
         background-color: var(--colors-backgroundAlt);
         border: 1px solid var(--colors-cardBorder);
         border-radius: 15px ;
         border-bottom-width: 2px;
         width: 750px;
         height: auto;
      }
         #text{
            background-color: var(--colors-cardBorder);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            justify-content: space-between;
            height: 60px;
            align-items: center;
            padding:20px;
            color: var(--colors-text);
      
         }
            #text p{
              font-size: 25px;
            }
            #draw{
              color: var(--colors-text);
            }
             
         #topframe{
          height: auto;
         }
         #centerframeel{
            height: auto;
            display: grid;
            grid-template-columns: 200px 550px;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "pricepottext theprizepot"
            "yourticketstext prizepotbutton";
            padding-left: 20px;
            border-bottom: var(--colors-cardBorder) 0.5px solid;
         }

            #pricepottext, #yourticketstext{
               color: var(--colors-text);
               font-size: 25px;
            }
            #prize{
               color: var(--purplenumber);
               font-size: 40px;
               width: 150px;
               display: flex;
            }
            #cakeamount{
               color: var(--lightgrey);
               font-size: 15px;
               color: grey;
               width: 150px;
               display: flex;
               flex-direction: row;
            }
            #theprizepot{
               margin-top: 10px;
               width: 200px;
            }
            #prizepotbutton{
               width: 200px;
               padding-bottom: 20px;
            }
         #bottomframe{
            width: 100%;
            align-items: center;
         }
             #div2details{
              padding: 25px;
              background-color: var(--colors-dropdownDeep);
              width: 100%;
              align-content: space-evenly;
              display: grid;
              grid-template-rows: 140px 140px;
              align-items: start;
             }
                #div2details #header{
                  grid-column-start: 1;
                  grid-column-end: 5;
                  grid-row-start: 0;
                  grid-row-end: 1;
                  color: var(--colors-text);
                  font-size: 14px;
                  padding: 25px;
                }
                
   
            @media screen and (max-width: 850px){
               #center{
                  width: 500px;
               }
            }
            @media screen and (max-width: 576px){
               #center{
                  width: 300px;
               }
               #centerframeel{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
               }
                   #pricepottext{
                      margin: 10px;
                      padding: 0px;
                   }
                   #theprizepot{
                      margin: 0px;
                      padding: 0px;
                   }
                   #prize{
                      margin: 0px;
                      padding: 0px;
                   }
                   #yourticketstext{
                      display: none;
                   }
                  }
   
#div3{
   background: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: white;
   font-size: 15px;
   height: 250px;
}
    .div3img{
      width: 100px;
      height: 100px;
    }
    .textdiv3{
      margin: 0px;
    }

#div4{
   background: linear-gradient(var(--lightestgrey), var(--purplenumber));
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: var(--darkgrey);
   padding: 60px;
}   
#finishedround{
  margin-top: 40px;
  color: var(--dark-text)
}
#div4switching{
  margin:25px;
}
#allhistory{
  background-color: #eeeaf4;
  color: rgb(39, 31, 46);
  border: 0px;
  border-radius: 20px;
  height: 33px;
  width: 115px;
}
#yourhistory{
  background-color: #7a6eaa;
  color: #eeeaf4;
  border: 0px;
  border-radius: 20px;
  height: 33px;
  width: 115px;
  text-align: right;
  padding-right: 20px;
}

 #yourhistory:onclick{
        background-color: #7a6eaa;
 }

#div5{
   background-color: var(--wcm-color-bg-1);
}
    .div5h2{
      color: var(--colors-secondary);
      text-align: center;
    }
    .div5p{
      color: var(--colors-text);
      text-align: center;
      margin: 30px;
    }
      #div5cards{
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         gap: 20px;
         margin: 40px;
      }
    
         #div5card1, #div5card2, #div5card3{
            border: 1px solid var(--colors-cardBorder);
            border-bottom: 3px solid var(--colors-cardBorder);
            background-color: var(--colors-backgroundAlt);
            border-radius: 35px;
            height: 200px;
            display: flex;
            flex-direction: column;
         }
             .div5line1{
               color: var(--colors-text);
               text-align: end;
               margin-right: 25px;
               margin-top: 10px;
               font-size: 80%;
             }
             .div5line2{
               color: var(--colors-secondary);
               margin-left: 20px;
             }
             .div5line3{
               color: var(--colors-textSubtle);
               margin-left: 20px;
               margin-right: 30px;
               margin-bottom: 30px;
             }
     
      #div5text{
         margin: 70px;
         font-style: bold;
      }
        #div5text1{
         display: flex;
         gap: 50px;
         margin-top: 30px;
         margin-bottom: 30px;
        }
          .div5textheader{
            color: var(--colors-secondary);
          }
          .div5textheader2{
            color: var(--colors-text);
          }
          .div5p1, .div5p2, .div5p3{
            color: var(--colors-textSubtle);
          }
          #div5p1, #div5p3{
            margin-left: 25px;
          }

      #div5table{
         border: 1px solid var(--colors-cardBorder);
         border-bottom: 2px solid var(--colors-cardBorder);
         border-radius: 20px;
         width: 350px;
         height: 230px;
         background-color: var(--colors-backgroundAlt);
      }
          #raw1{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-left: 80px;
            margin-top: 25px;
            margin-right: 10px;
          }
          #raw2{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-left: 30px;
            margin-top: 25px;
            margin-right: 10px;
          }
          #raw3{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-left: 30px;
            margin-top: 20px;
            margin-right: 10px;
          }
             .tableH2{
                color: var(--bright-text);
                font-size: 100%;
                margin: 10px;
             }
      .div5link{
         color: var(--blue);
         text-decoration: none;
      }
      .div5link:hover{
         text-decoration: underline;
      }


   #div5text2{
      display: flex;
      gap: 30px;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 35px;
   }
     #div5textpart2{
      width:60%;
     }
       #table2{
         border: 1px solid var(--colors-cardBorder);
         border-bottom: 2px solid var(--colors-cardBorder);
         border-radius: 20px;
         width:350px;
         height: 350px;
         background-color: var(--colors-backgroundAlt);
         display: flex;
         flex-direction: column;
         align-content: space-between;
         padding-left: 20px;
         padding-right: 20px;
       }
           #t2raw1{
            align-self: center;
            margin: 20px;
           }
          #t2raw2{
            display: flex;
            flex-direction: row;
            color: var(--light-text);
            font-size: 90%;
          }
             .columnheader{
               color: var(--bright-text);
             }
             #column1, #column2{
               margin-left: 30px;
               height: 250px;
             }
             #column1{
               width: 180px;
             }
                .clumn2li{
                   list-style: none;
                   color: var(--colors-white);
                   display: flex;
                   flex-direction: column;
                   justify-content: right;
                   align-items: end;
                }
                .column1li{
                   display: flex;
                   gap:5px;
                }
                       .circle{
                       width:10px;
                       height: 10px;
                       border-radius: 7px;
                       }
                          #c1{
                           background-color: var(--yellow);
                          }
                          #c2{
                           background-color: rgb(45, 151, 45);
                          }
                          #c3{
                           background-color: rgb(0, 86, 108);
                          }
                          #c4{
                           background-color: #1fc7d4;
                          }
                          #c5{
                           background-color: #7645d9;
                          }
                          #c6{
                           background-color: rgb(128, 48, 81);
                          }
                          #c7{
                           background-color: gray;
                          }
                     

    @media screen and (max-width: 905px){
      #div5cards{
         flex-direction: column;
      }
      #div5text1{
         flex-direction: column;
         margin-bottom: 30px;
      }
      #div5text{
         margin: 30px;
      }
      #div5table{
         align-self: center;
      }
      #div5text2{
         flex-direction: column;
         justify-content: center;
      }
      #div5textpart2{
         width: 90vw;
      }
      #table2{
         align-self: center;
         margin-bottom: 30px;
         width: 350px;
      }
      #columnheader{
         margin-left:15px;
      }
   }
   @media screen and (max-width: 1300px){
      #table2{
         width: 350px;
      }
      #column1{
         margin: 0px;
         width:200px;
      }
       .column1li{
         margin: 0px;
         width: 200px;
       }
   }
 
 
    #div5bottom{
      display: flex;
      justify-content: center;
    }
        #paintinrabbit{
         width: 250px;
         height: 180px;
        }
        #div5bottomtext{
         color: var(--colors-text);
         font-size: 90%;
         width: 300px;
        }

          .icons-footer {
            margin-top: 32px;
            display: flex;
            order: 2;
            border-bottom: 1px solid var(--colors-contrast);
            padding-bottom: 42px;
            margin-bottom: 0px;
          }
          @media screen and (min-width: 576px) {
            .icons-footer {
              padding-bottom: 32px;
              margin-bottom: 32px;
            }
          }
          .icons-footer a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: fit-content;
            color: var(--colors-primary);
            font-weight: 600;
            line-height: 1.5;
            margin-right: 24px;
            font-size: 16px;
          }
          .icons-footer a img {
            width: 20px;
            align-self: center;
            flex-shrink: 0;
          }
          
          .buttons-footer {
            border-color: #383241;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 0;
            border-right-width: 0;
            border-style: solid;
            padding: 24px 0px;
            margin-bottom: 24px;
            display: flex;
            order: 1;
            flex-direction: column;
            -webkit-box-pack: justify;
            justify-content: space-between;
          }
          @media screen and (min-width: 576px) {
            .buttons-footer {
              border-top-width: 0px;
              border-bottom-width: 0px;
              padding: 0px;
              margin-bottom: 0px;
              order: 3;
              flex-direction: row;
              border: none;
            }
          }
          .buttons-footer-left {
            display: flex;
            order: 2;
            -webkit-box-align: center;
          }
          @media screen and (min-width: 576px) {
            .buttons-footer-left {
              order: 1;
            }
          }
          .buttons-footer-left .lang-select {
            position: relative;
          }
          .buttons-footer-left .lang-select button {
            background: transparent;
            border: none;
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border: 0px;
            border-radius: 16px;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 20px;
            font-size: 12px;
            padding: 0px 24px;
            background-color: transparent;
            color: #1fc7d4;
            vertical-align: sub;
            box-shadow: none;
            height: 35px;
          }
          .buttons-footer-left .lang-select button img {
            margin-right: 0.5rem;
          }
          .buttons-footer-left .lang-select button:hover {
            opacity: 0.65;
          }
          .buttons-footer-left .lang-select button div {
            color: #b8add2;
            font-weight: 400;
            line-height: 1.5;
            font-size: 16px;
          }
          .buttons-footer-left .lang-select-content {
            position: absolute;
            text-decoration: none;
            transform: translate(-50%, 0px);
            background-color: #27262c;
            box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, 0.1), 0px 1px 1px rgba(25, 19, 38, 0.05);
            padding: 16px;
            max-height: 200px;
            overflow: auto;
            border-radius: 4px;
            opacity: 0;
            transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
            will-change: opacity;
            width: max-content;
            display: flex;
            flex-direction: column;
            position: absolute;
            transform: translate(-80%, 0px);
            left: 100%;
            bottom: 100%;
            z-index: -1;
          }
          .buttons-footer-left .lang-select-content button {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border: 0px;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 48px;
            background-color: transparent;
            box-shadow: none;
            color: #f4eeff;
            padding: 0px 8px;
            border-radius: 8px;
            min-height: 32px;
            height: auto;
          }
          .buttons-footer-left .lang-select-content button div {
            color: #b8add2;
            font-weight: 400;
            line-height: 1.5;
            font-size: 16px;
          }
          .buttons-footer-left .lang-select-content::-webkit-scrollbar-thumb {
            background: #b8add2;
            border-radius: 8px;
          }
          .buttons-footer-left .lang-select-content::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px var(--colors-input);
            border-radius: 10px;
          }
          .buttons-footer-left .lang-select-content::-webkit-scrollbar {
            width: 8px;
          }
          .buttons-footer-left .lang-select:hover .lang-select-content {
            z-index: 10;
            visibility: visible;
            opacity: 1;
            max-height: 200px;
          }
          .buttons-footer-right {
            display: flex;
            order: 1;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 24px;
          }
          @media screen and (min-width: 576px) {
            .buttons-footer-right {
              order: 2;
              margin-bottom: 0px;
            }
          }
          .buttons-footer-right .currency-price {
            display: block;
            margin-right: 12px;
          }
          .buttons-footer-right .currency-price a {
            display: flex;
            align-items: center;
          }
          .buttons-footer-right .currency-price a img {
            transition: transform 0.3s ease 0s;
            flex-shrink: 0;
            margin-right: 8px;
          }
          .buttons-footer-right .currency-price a img:hover {
            transform: scale(1.2);
          }
          .buttons-footer-right .currency-price a .text-currency {
            color: #b8add2;
            font-weight: 600;
            line-height: 1.5;
            font-size: 16px;
          }
          .buttons-footer-right .buy-btn {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border: 0px;
            border-radius: 16px;
            box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 32px;
            padding: 0px 16px;
            background-color: #1fc7d4;
            color: var(--colors-invertedContrast);
            text-decoration: none;
          }
          .buttons-footer-right .buy-btn:hover {
            opacity: 0.65;
          }
          .buttons-footer-right .buy-btn img {
            align-self: center;
            flex-shrink: 0;
            margin-left: 0.5rem;
          }
          
          .switch {
            font-size: 17px;
            position: relative;
            display: inline-block;
            width: 3.5em;
            height: 2em;
          }
          
          /* Hide default HTML checkbox */
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          /* The slider */
          .slider {
            --background: #28096b;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #666171;
            transition: 0.5s;
            border-radius: 30px;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            border-radius: 50%;
            left: 10%;
            bottom: 15%;
            box-shadow: inset 11px 4px 0px 12px #fff000;
            background: #666171;
            transition: 0.5s;
          }
          
          input:checked + .slider {
            background-color: #666171;
          }
          
          input:checked + .slider:before {
            transform: translateX(100%);
            box-shadow: inset 8px -4px 0px 0px #522ba7;
          }
          
          .telegram {
            position: relative;
          }
          .telegram:hover .tele-lang {
            opacity: 1;
            max-height: 140px;
            overflow-y: auto;
            transition: max-height 0s ease 0s, opacity 0.3s ease-in-out 0s;
            pointer-events: auto;
          }
          
          .tele-lang {
            width: max-content;
            display: flex;
            flex-direction: column;
            position: absolute;
            transform: translate(-50%, 0px);
            left: 50%;
            bottom: 100%;
            background-color: #27262c;
            box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, 0.1), 0px 1px 1px rgba(25, 19, 38, 0.05);
            padding: 16px;
            max-height: 0px;
            overflow: hidden;
            z-index: 10;
            border-radius: 4px;
            opacity: 0;
            transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
            will-change: opacity;
            pointer-events: none;
          }
          .tele-lang button {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border: 0px;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 48px;
            background-color: transparent;
            box-shadow: none;
            color: #412475;
            padding: 0px 8px;
            border-radius: 8px;
            min-height: 32px;
            height: auto;
          }
          .tele-lang button a {
            text-decoration: none;
            color: #f4eeff;
            margin: 0;
          }
          
          .go-top-container {
            height: 0;
            overflow-y: scroll;
            scroll-padding: 50vh 0;
          }
          
          .go-top {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 48px;
            background-color: #1fc7d4;
            border-radius: 1rem;
            box-shadow: inset 0px -1px 0px 0px rgba(14, 14, 44, 0.4);
            font: 600 16px/1 "Kanit";
            color: #FFFFFF;
            letter-spacing: 0.03em;
            position: fixed;
            bottom: 4.5rem;
            right: 4.5rem;
            padding: 1rem;
            z-index: 1000;
            border: 0px;
            cursor: pointer;
          }
          .go-topa {
            text-decoration: none;
          }
          .go-top:hover {
            opacity: 0.65;
          }